@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #423732;
  font-family: zen-maru-gothic, "Hiragino Sans W3", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic",
    sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  font-feature-settings: "palt" 1;
  white-space: normal;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

li {
  /*左の「・」を消す*/
  list-style: none;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}
